body{
    background-color: rgb(250, 232, 235);
    border: 10px solid lightpink;
    border-radius: 25px;
}

#FloatBox{
    background-color: aquamarine;
    border: 1px solid grey;
    position: absolute;
    left : 50%;
    top : 100px;
    width: 145px;
    height: 40px;
    transform: translateX(-50%);

}
.CenterText{
    margin: 2%;
    font-size: 0.8em;
}

#AudioPosAndArea{
    width: 180px;
    height: 30px;
    position: relative;
    top:60px;
    left: 20px;
}
#AudioTitle{
    position: relative;
    top:-10px;
    left: 50px;
}